.easy-edit input {
    width: 100%;
    outline: none;
    border: none;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.3s linear;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.easy-edit input:focus {
    transition: all 0.3s linear;
    box-shadow: inset 0 0 1px 1px #409EFF;
}

.easy-edit input[disabled] {
    cursor: pointer;
    background-color: transparent;
}

.easy-edit textarea {
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

.easy-edit textarea:focus {
    transition: all 0.3s linear;
    box-shadow: inset 0 0 1px 1px #409EFF;
}

.easy-edit textarea[disabled] {
    box-shadow: none;
    cursor: pointer;
    background-color: transparent;
}